.ab{
    font-size: 50px;
    font-weight: 900;
    background-image: url(
        https://unsplash.com/photos/TgrouF48uDA    );
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
     
}