<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/user-dashboard/" mat-list-item>
            <mat-icon mat-list-icon>
                home
            </mat-icon>Home
        </button>
        <button routerLink="/user-dashboard/about" mat-list-item>
            <mat-icon mat-list-icon>info</mat-icon>About

        </button>
        <button routerLink="/user-dashboard/tokenavailable" mat-list-item>
            <mat-icon mat-list-icon>token</mat-icon>Token Available

        </button>
        
        <button routerLink="/user-dashboard/addbook" mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>Add Books

        </button>
        <button routerLink="/user-dashboard/showbooks" mat-list-item>
            <mat-icon mat-list-icon>search</mat-icon>Show Books

        </button>
        <button routerLink="/user-dashboard/createdbooks" mat-list-item>
            <mat-icon mat-list-icon>book</mat-icon>Created books

        </button>
        <button routerLink="/user-dashboard/borrowedbooks" mat-list-item>
            <mat-icon mat-list-icon>book</mat-icon>Borrowed Books
         </button>

        
    </mat-action-list>
</mat-card>


