

<div class="about-container">
    <h2>About Book Borrowing App</h2>
    <p>
      Welcome to the Book Borrowing App, your go-to platform for borrowing and lending books with ease.
    </p>
  
    <h3>Features</h3>
    <ul>
      <li>Browse and borrow books from a diverse collection.</li>
      <li>Conveniently add new books to the system.</li>
      <li>Manage your borrowed books and lending transactions.</li>
      
    </ul>
  
    <h3>How It Works</h3>
    <ol>
      <li>In home you can only see the books but can't perform any action on this</li>
      <li> You can regiter as a user</li>
      <li>You can login as a user</li>
      <li>Search for books based on various criteria such as author genre and name and it will show only those books which are avilable (not issued bysomeone).</li>
      <li>Borrow books by using your available tokens. If you have no tokens then you can't borrow a book</li>
      <li>You can create your own book in Add Book menu in dashboard and you can't borrow your own book  </li>
      <li>You initially have 4 tokens and you will get one token each time somone borrow your books</li>
      <li>you can edit or delete only those books which are created by you and is available (not borrowed bysomeone)</li> 
      <li>You can see all the details of the book in show books</li>
      <li>View and manage your borrowed books in the  borrow book menu in dashboard.</li>
      
    </ol>
  
    <h3>Contact Us</h3>
    <p>
      If you have any questions or feedback, feel free to contact us at <a href="mailto:info@bookborrowingapp.com">mail</a>.
    </p>
  </div>
  
